<!DOCTYPE html>
<html>
<head>
  <title>Carebnb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render partial: "layouts/navbar" %>
<div class="container">
  <%= yield %>
</div>
<footer id="footer">
  <ul>
    <li class="show">About Us</li>
    <li class="show">Privacy</li>
    <li class="show">Terms</li>
    <li class="truncate">Contact Us</li>
    <li class="truncate">Signup for newsletter</li>
  </ul>
</footer>

</body>
</html>
